<% title "BlitzMail Migration Tracking: Please Login", false %>
<h2>BlitzMail Migration Tracking Login</h2>

<p>Please use the button below to log in to the BlitzMail Migration Tracking system. This application uses Dartmouth's Web Authentication system. If you have a Dartmouth SSL Certificate installed in your browser, the login procedure is basically automatic. If not, you will be asked to enter your DND Name and Password.</p>
<p>When you are done viewing/editing migration data for this session, please remember to use the <i>Logout</i> link (located at the top of every page) to exit the system.</p>
<blockquote>
  <%= button_to "Log In", '/auth/cas' %>
</blockquote>
