<% title "BlitzMail Migration Tracking: Please Login", false %>
<div class="block">
  <div class="content">
    <h2 class="title">Log In to Blitz Migrations</h2>
    <div class="inner">
      <p>Please use the button below to log in to the BlitzMail Migration Tracking system. This application uses Dartmouth's Web Authentication system. If you have a Dartmouth SSL Certificate installed in your browser, the login procedure is basically automatic. If not, you will be asked to enter your DND Name and Password.</p>
      <p>When you are done viewing/editing migration data for this session, please remember to use the <i>Logout</i> link (which will appear at the top of every page, once you log in) to exit the system.</p>
      <form class="form" action="/auth/cas" method="get">
        <div class="right">
          <button class="button" type="submit">Log In</button>
        </div>
      </form>
    </div>
  </div>
</div>
