<% title "BlitzMail Migration Tracking: Not Authorized", false %>
<div class="block">
  <div class="content">
    <h2 class="title">Not Authorized</h2>
    <div class="inner">
      <p>We're sorry. According to our records, you aren't listed in the group of people authorized to access this system.</p>
      <p>If you feel that you have received this message in error, please contact your department's IT Support Consultant, or email <a href="mailto:help@dartmouth.edu?subject=BlitzMail+Migration">IT Support Info</a>.</p>
    </div>
  </div>
</div>
