<div class="inner">
  <table class="table">
    <tr>
      <th align="left">Name</th>
      <th align="left">Email</th>
      <th align="left">Phone</th>
      <th>&nbsp;</th>
    </tr>
    <%= render :partial => 'consultants/consultant', :collection => @consultants %>
  </table>
</div>
