<%= render 'consultants/nav' if current_user.is_support? %>
<%= render 'consultants/choose' if current_user.is_support? %>
<div id="group-consultants" class="fieldset">
  <h2>Support Consultants</h2>
  <%= render 'consultants/list' unless @consultants.empty? %>
  <%= content_tag(:p, 'No support consultants assigned to this group.') if @consultants.empty? %>
</div>
