<div class="inner">
  <table class="table">
    <tr>
      <th align="left">Member</th>
      <th align="left">Name</th>
      <th align="left">Type</th>
      <th align="left">OS Version</th>
      <th align="left">Email Client</th>
      <th align="left">Office Version</th>
      <th align="left">Browser</th>
    </tr>
    <%= render :partial => 'devices/group_device', :collection => @devices %>
  </table>
</div>
