<% title "BlitzMail Migrations: Devices", false %>
<h2 id="device-header">Device List for <%= @user.name %></h2>

<fieldset id="devices">
	<legend>Devices</legend>
	
	<table>
		<tr>
			<th align="left">Name</th>
			<th align="left">Type</th>
			<th align="left">OS Version</th>
			<th align="left">Office Version</th>
			<th align="left">Email Client</th>
			<th align="left">Browser</th>
			<th align="left">New Email</th>
		</tr>
		<%= render :partial => "device", :collection => @devices %>
	</table>
	
	
</fieldset>

<p>
	<%= link_to "Add Computer Device", new_device_path(:type => 'computer') %>&nbsp; &nbsp;
	<%= link_to "Add Mobile Device", new_device_path(:type => 'mobile') %>
</p>