<% title "BlitzMail Migrations: Devices", false %>
<h2 id="device-header">Device List for <%= @user.name %></h2>

<fieldset id="devices">
	<legend>Devices</legend>
	
	<table border="0" cellspacing="5" cellpadding="5">
		<tr>
			<th>Vendor</th>
			<th>Kind</th>
			<th>OS Version</th>
			<th>Office Version</th>
			<th>Email Client</th>
			<th>Browser</th>
			<th>New Email</th>
		</tr>
		<%= render :partial => "device", :collection => @devices %>
	</table>
	
	
</fieldset>

<p>
	<%= link_to "Add Device", new_device_path %>
</p>