<div id="assign-date" class="fieldset form" style="display: none;">
  <div class="group navform wat-cf">
    <div class="text_button_padding">
      <%# link_to 'Cancel', group_path %>
      <%= hide_div_link 'Cancel', 'assign-date' %>
    </div>
    <div class="right">
      <button class="button" onclick="return count_checked();">Assign Migration Date</button>
    </div>
  </div>
  <%= f.hidden_field :action, :value => :schedule_migrations %>
  <div class="group wat-cf">
    <div class="left label"><%= f.label :accounts, "Select Migration Date" %></div>
    <div class="right">
      <%= select("group","migration_id",
            [""] + (Migration.available_dates << ["DO NOT MIGRATE", 0]), {},
            {"data-placeholder" => "Choose date...",
             :class => "chzn-select",
             :style => "width: 150px;"}) %>
    </div>
  </div>
</div>
