<div id="migrations" class="fieldset">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li><%= show_div_link 'Choose Migration Date', 'assign-date' %></li>
      <li>
        <%= link_to "View Group", group_path(@group) %>
      </li>
    </ul>
  </div>
  <h2>Schedule Migrations</h2>
  <%= render :partial => "migration_list" unless @members.empty? %>
  <%= content_tag(:p, 'No accounts eligible for migration.') if @members.empty? %>
</div>
