<% title "BlitzMail Migrations: Group Info", false %>
<h2 id="group-header">Group Information for <%= @group.name %></h2>
<%= render 'contacts/show' %>
<%= render 'members/show' %>
<%= render 'consultants/show' %>
