<% if current_user == @user %>
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li><%= link_to "Add Computer Device", new_device_path(:type => 'computer') %></li>
      <li><%= link_to "Add Mobile Device", new_device_path(:type => 'mobile') %></li>
    </ul>
  </div>
<% end -%>
