<%= render :partial => 'devices_nav' %>
<div id="devices" class="fieldset form">
  <h2>Your Devices <span style="font-size: 0.8em;">(desktop, laptop, smartphone, tablet, etc.)</span></h2>

  <p>No devices listed. Please use the links above to add one.</p>
</div>
