<%= render :partial => 'devices_nav' %>
<div id="devices" class="fieldset">
  <a name="devices"><h2>Your Devices <span style="font-size: 0.8em;">(desktop, laptop, smartphone, tablet, etc.)</span></h2>
  <div class="inner">
    <table class="table">
      <tr>
        <th align="left">Name</th>
        <th align="left">Type</th>
        <th align="left">OS Version</th>
        <th align="left">Email Program</th>
        <th align="left">MS Office Version</th>
        <th align="left">Browser</th>
      </tr>
      <%= render :partial => 'devices/device', :collection => @devices %>
    </table>
  </div>
</div>
