  <div class="secondary-navigation" id="migration-info-nav">
    <ul class="wat-cf">
      <li><%= show_div_link 'Reschedule Migration', 'reschedule-migration' %></li>
      <li><%= show_div_link 'Cancel Migration', 'cancel-migration' %></li>
    </ul>
  </div>
