<div class="secondary-navigation" id="profile-info-nav">
  <ul class="wat-cf">
    <li><%= link_to "Create and Submit Migration Profile", new_profile_path %></li>
  </ul>
</div>
<div id="profile-info" class="fieldset form">
  <h2>Profile Summary</h2>

  <p>You don't currently have a migration profile. Please submit one.</p>
</div>
