<fieldset id="profile-info">
  <legend>Profile Info</legend>
  <div class="buttons right">
    <%= link_to "Submit Migration Profile", new_profile_path %>
  </div>
  <br class="clear"/>

  <p>You don't currently have a migration profile. Please submit one.</p>
</fieldset>
