<div id="resources" class="fieldset">
  <h2>Resources</h2>
  <div class="inner">
    <table class="table">
      <tr>
        <th align="left">Name</th>
        <th align="left">Name Other</th>
        <th align="left">Dept</th>
        <th align="left">Dept Group</th>
        <th align="left">Disposition</th>
        <th align="left">Migration Group</th>
      </tr>
      <%= render :partial => 'resources/resource', :collection => @resources %>
    </table>
  </div>
</div>
