<table>
  <tr>
    <th align="left">Last, First</th>
    <th align="left">Deptclass</th>
    <th align="left">Profile Summary</th>
    <th align="left">Migration Date</th>
    <td></td>
  </tr>
  <%= render :partial => 'users/user', :collection => @users %>
</table>
