<script type="text/javascript">
  function confirm_cancel () {
    return confirm('Are you sure you want to cancel this migration?');
  };
</script>

<%= form_for resource.migrations.first do |f| -%>
<%= f.hidden_field :resource_id, :value => resource.id %>
  <div id="cancel-migration" class="fieldset form" style="display: none">
    <h2>Cancel This Migration</h2>
    <div class="group navform wat-cf">
      <div class="text_button_padding">
        <%= hide_div_link 'Cancel', 'cancel-migration' %>
      </div>
      <div class="right">
        <button class="button" type="submit" onclick="return confirm_cancel();">Cancel Migration</button>
      </div>
    </div>
    <%= f.hidden_field :action, :value => :cancel_resource_migration %>
  </div>
<% end -%>
