<% title "BlitzMail Migrations: Resources", false %>
<h2 id="resource-header">Resources List</h2>
<div id="resources" class="fieldset">
  <h2>Resources</h2>
  <div class="inner">
    <table class="table">
      <tr>
        <th align="left">Name</th>
        <th align="left">Primary Owner</th>
        <th align="left">Migrate Calendar</th>
        <th align="left">Migrate Data</th>
        <th align="left">Group</th>
      </tr>
      <%= render @resources %>
    </table>
  </div>
</div>
