<% title "BlitzMail Migrations: Resources", false %>
<h2 id="resource-header">Resources List</h2>
<div class="secondary-navigation">
  <ul class="wat-cf">
    <li><%= link_to "Add Resource", new_resource_path %></li>
  </ul>
</div>
<div id="resources" class="fieldset">
  <h2>Resources</h2>
  <div class="inner">
    <table class="table">
      <tr>
        <th align="left">Name</th>
        <% if current_user.is_support? %>
          <th align="left">Primary Owner</th>
        <% end -%>
        <th align="left">Secondary Owner</th>
        <th align="left">Dept</th>
        <th align="left">Dept Group</th>
        <th align="center">Migrate Calendar</th>
        <th align="center">Migrate Data</th>
        <th align="left">Group</th>
      </tr>
      <%= render @resources %>
    </table>
  </div>
</div>
