<% title "BlitzMail Migrations: Migrations", false %>
<h2 id="group-header">Migrations List</h2>
<% if current_user.is_admin? %>
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li><%= link_to "Add Migration", new_migration_path %></li>
    </ul>
  </div>
<% end -%>
<div id="groups" class="fieldset">
  <h2>Migrations</h2>
  <div class="inner">
    <table class="table">
      <tr>
        <th align="left">Date</th>
        <th align="left">Max # Accounts</th>
        <th align="left">Allowed Types</th>
        <th align="left">Users</th>
        <th align="left">Resources</th>
      </tr>
      <%= render @migrations %>
    </table>
  </div>
</div>
