<div class="inner">
  <table class="table">
    <tr>
      <th align="left">Last, First</th>
      <th align="left">Deptclass</th>
      <th align="left">Profile Summary</th>
      <th align="left">Migration Date</th>
      <th>&nbsp;</th>
    </tr>
    <%= render :partial => 'members/member', :collection => @members %>
  </table>
</div>
