<div class="inner">
  <table class="table">
    <tr>
      <th align="left">Last, First</th>
      <th align="left">Deptclass</th>
      <th align="left">Invitation</th>
      <th align="left">Profile</th>
      <th align="left">Devices</th>
      <th align="left">Mailbox Type</th>
      <th align="left">Migration</th>
      <th>&nbsp;</th>
    </tr>
    <%= render :partial => 'members/member', :collection => @members %>
  </table>
</div>
