<% add_table_assets %>

<div class="inner">
  <table id="members-table" class="table">
    <thead>
      <tr>
      <th align="left">Deptclass</th>
      <th align="left">Name</th>
      <th align="left">Affiliation&nbsp;</th>
      <th align="left">Invitation&nbsp;</th>
      <th align="left">Profile&nbsp;</th>
      <th align="left">Devices&nbsp;</th>
      <th align="left">Mailbox Type</th>
      <th align="left">Migration</th>
      <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => 'members/member', :collection => @members %>
    </tbody>
  </table>
</div>
