<div class="secondary-navigation">
  <ul class="wat-cf">
    <li><%= show_div_link 'Add Member', 'add-member' %></li>
    <li><%= show_div_link 'Add Deptclass', 'add-deptclass' %></li>
    <li><%= show_div_link 'Remove Deptclass', 'remove-deptclass' %></li>
  </ul>
</div>
